@{
    ViewBag.Title = "Home Page";
    
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-7 col-xs-offset-1 text-center">
            <h1 class="firstHeader"><b>Guildlines for Surfing</b></h1>
            <img src="~/Content/Images/surf.jpg" class="img-circle" hight="30" width="30">&nbsp Billy Bob&nbsp&nbspPosted 8/20/2015</img>
            <br>
            <br>

            <p class="para">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.Donec id elit commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem mali.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
            <br>
            <h1>Welcome</h1>
            <br>
            <p class="para">Donec sed odio dui.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Done </p>
            <br>
            <br>
            <a href="https://www.google.com/" class="btn btn-primary btn-lg active" role="button">Google</a>
        </div>
        <div class="col-xs-3 text-center">
            <h2><B>Whatever</B></h2>
            <img src="~/Content/Images/surf.jpg" class="img-circle" hight="50" width="50"</img>
            <p class="name">Billy Bob</p>
            <a href="https://www.Facebook.com/">Facebook</a>&nbsp <a href="https://www.Pinterest.com/">Pinterest</a>&nbsp <a href="https://www.Twitter.com/">Twitter</a>
            <br>
            <br>
            <img src="~/Content/Images/paddle.jpg" /></img>
            <br>
            <br>
            <p class="para2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nib dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Done </p>
        </div>
    </div>
</div>