@{
    ViewBag.Title = "Home Page";
}
<!-- Bootstrap Core CSS -->
<link href="content/bootstrap.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="content/clean-blog.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Surf and Paddle Blog</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="search.html">Search</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/waves.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Surf and Paddle</h1>
                    <span class="subheading">An Iron Yard project</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Man must explore, and this is exploration at its greatest
                    </h2>
                    <p class="post-meta">Posted by <a href="#">Anne Marie</a> on September 24, 2014</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices tempor pharetra. Donec tincidunt dui at mi aliquam efficitur. Proin commodo malesuada tincidunt. Suspendisse dui est,
                        dapibus eget aliquam sit amet, mattis vel neque. Quisque non odio in velit porttitor imperdiet quis eget purus. Aliquam in nisl sed ante dapibus hendrerit et a tellus. Sed a ullamcorper eros,
                        vitae rutrum nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    </p>
                    <p>
                        Fusce et purus et lectus aliquet egestas. Duis placerat, est ut pulvinar cursus, risus magna dignissim felis, at tempor diam leo vel orci. Etiam malesuada arcu at velit cursus feugiat. Nam ac eros
                        vitae metus sodales condimentum. Sed ultricies tempor ornare. Suspendisse laoreet dui diam, in porta elit blandit eu. Nulla fringilla, augue commodo molestie aliquam, eros odio fringilla est, at dictum
                        velit tellus interdum risus. Praesent eu dolor vel metus efficitur rutrum sit amet ut dolor. Nulla et viverra ex. Aenean sed nisl pharetra, ultricies ipsum eget, mollis sapien. Duis nec risus in tortor
                        tincidunt sagittis. Cras non orci vitae ex maximus placerat. Duis rhoncus dapibus dignissim. Integer malesuada ultrices nunc nec commodo. Aliquam pellentesque dictum libero, a volutpat mi.
                    </p>
                    <p>
                        Quisque elementum et dui vel feugiat. Vivamus efficitur volutpat dapibus. Donec in vestibulum mi. Vivamus dignissim mauris et felis dignissim, non tempor nunc auctor. Sed lacus arcu, efficitur quis
                        tincidunt vitae, iaculis in ex. Donec ultricies rhoncus ligula vitae faucibus. Aliquam nec nisl malesuada, feugiat ex congue, venenatis dolor.
                    </p>
                    <p>
                        Vestibulum non nulla tempor ante interdum fermentum eget ut velit. Quisque vitae ex aliquet, rhoncus felis ac, suscipit nisi. Proin sapien dui, dignissim a molestie in, accumsan a diam. Fusce purus
                        quam, consequat nec leo id, sollicitudin finibus nisi. Maecenas finibus ex eget dignissim vulputate. Cras rhoncus ligula eget ligula tempor, a venenatis dui tincidunt. Vivamus turpis justo, congue vel
                        nisl ut, interdum sodales diam. Aliquam scelerisque, nisl a ornare vehicula, ante turpis hendrerit quam, vitae dictum metus arcu ac magna. Donec non lorem libero. Praesent ornare metus at nibh faucibus,
                        quis interdum tellus consequat. Donec nec mollis tellus, sit amet volutpat odio. Nulla facilisi. Integer tincidunt purus eu tortor vestibulum auctor. Integer vitae ligula bibendum, euismod felis et,
                        consequat magna.
                    </p>
                    <p>
                        Donec in imperdiet augue, eget hendrerit orci. Vivamus fermentum suscipit massa, at scelerisque odio dignissim nec. Quisque in risus eget ligula dapibus facilisis nec ac felis. Vivamus mattis magna
                        risus. Suspendisse luctus blandit risus ac faucibus. Fusce ac purus id ex semper luctus. In ultrices magna et dui aliquet laoreet. Integer id consequat sapien. Ut facilisis ultricies neque eu maximus.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque volutpat dui sed dictum congue. Ut sit amet dolor elit. Mauris laoreet purus eu dapibus rutrum.
                        Aliquam a massa nec ligula semper porta a id velit. Nulla posuere pellentesque mi, eget tincidunt odio scelerisque nec. Aenean ac malesuada eros.
                    </p>
                </a>
                <button class="btn btn-default" type="submit">Share this post</button>
                <button class="btn btn-default" type="submit">Read later</button>
                <button class="btn btn-default" type="submit">Comments</button>
            </div>
        </div>
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
            <div class="post-preview" style="text-align: center;">
                <img class="anne-marie" src="https://cdn3.iconfinder.com/data/icons/user-2/100/10-512.png" />
                <h2>Anne Marie</h2>
                <p><a class="links" href="www.twitter.com">Twitter</a><a class="links" href="www.facebook.com">Facebook</a><a class="links" href="www.instagram.com">Instagram</a></p>
                <img class="img-responsive" src="https://safiyahesack.files.wordpress.com/2013/03/big-wave-surfing-wallpapers-1920x1080.jpg" />
                <section>
                    <h3>Pellentesque Volutpat</h3>
                    <p>
                        Quisque elementum et dui vel feugiat. Vivamus efficitur volutpat dapibus. Donec in vestibulum mi. Vivamus dignissim mauris et felis dignissim, non tempor nunc auctor. Sed lacus arcu, efficitur quis
                        tincidunt vitae, iaculis in ex. Donec ultricies rhoncus ligula vitae faucibus. Aliquam nec nisl malesuada, feugiat ex congue, venenatis dolor.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 thing" style="text-align: center; margin: auto;">
    <h1>MOST POPULAR POSTS</h1>
    <img class="tint" src="img/1.jpg" style="width: 10em; height: 10em;" />
    <img class="tint" src="img/2.png" style="width: 10em; height: 10em;" />
    <img class="tint" src="img/4.jpg" style="width: 10em; height: 10em;" />
    <img class="tint" src="img/3.jpg" style="width: 10em; height: 10em;" />
</div>

<hr>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="navbar-header page-scroll">
                    <img style="display: inline-block" class="img-responsive" src="http://biztraffic.com/wp-content/uploads/2014/01/generic-logo.png" />
                    <p style="display: inline-block">IronYard copy right. All rights reserved.</p>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="nav1.html">Nav 1</a>
                        </li>
                        <li>
                            <a href="nav2.html">Nav 2</a>
                        </li>
                        <li>
                            <a href="nav3.html">Jav 3</a>
                        </li>
                        <li>
                            <a href="nav4.html">Nav 4</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
    </div>
</footer>
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/clean-blog.min.js"></script>