@model SurfandPaddle.Models.Posts

@{
    ViewBag.Title = "ViewPosts";
}

<h2>ViewPosts</h2>

<div>
@Html.Partial("DisplayPost", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", Model)
</p>
